{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

<ol class="breadcrumb">
  <li class="active"><a href="/list"><i class="icon-home icon-white"></i> Список задач</a></li>
 <li><a href="#"> График</a></li>
 <li><a href="/planning"> Планирование задач</a></li>
</ol>

    <div class= "{{ value }}">
      <p> {{ message }}</p>
    </div>

<div class="container-fluid">
  <div class="row-fluid">
  <div class="pull-right">
  <form action="" method="post" name="progresstask">
   <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">{{ taskcount }}</span>
         Текущие задачи
    </li>
  </ul>
    {% for task in tasks %}
  	 <label class="checkbox inline">
      {% if task.starttime >= thisdate %}
         <span style="color: blue;">
         <input type="checkbox" name="{{ task.task }}" value="{{ task.task }}">
          {{ task.task }} {{ task.starttime }} ({{task.starttime - thisdate}})
        </span>
      {% elif task.priority == 2 %}
        <span style="color: red;">
		      <input type="checkbox" name="{{ task.task }}" value="{{ task.task }}"> {{ task.task}}
          {{ task.deadline - thisdate }}
        </span>
      {% else %}
       <input type="checkbox" name="{{ task.task }}" value="{{ task.task }}">
       <h4 class="list-group-item-heading">{{ task.task }}</h4>
        <p class="list-group-item-text">{{ task.deadline - thisdate }}</p>
      {% endif %}
	   </label>
    {% endfor %}
    {% if tasks|length != 0 %}
       <input type="submit" name='Remove' value="Remove tasks" class="btn btn-large btn-primary"></p>
       <input type="submit" name='Complete' value="Task is complete" class="btn btn-large btn-primary"></p>
    {% endif %}
</div>
  </form>

 <div class="panel panel-default">
  <div class="panel-heading"><h2>Smart TODO monitor</h2></div>
  <div class="panel-body">
 <form action="" method="post" name="todoform">
  <h2>Add new task</h2>
   {{ form.tf(size=50) }}
  <h2>Description </h2>
   {{ form.descr(size=50) }}
  <h2> Type of task</h2>
   {{ form.type_of_task }}
  <h2> Add tags for this task </h2>
  {{ form.tags(size=50) }}
  <h2> Attach this task </h2>
  {{ form.attached }}
  <h2> Start time </h2>
  {{ form.starttime }}
  <h2> Deadline (in hours) </h2>
  {{ form.deadline }}
  <h2> Choice priority of task </h2>
  {{ form.priority_field}}

  <br><br>
  <p><input type="submit" value="Add" class="btn btn-large btn-primary"></p>
  </div>
  </div>
  </div>
</div>
</form>
</div>

<div class="container-fluid">
  <p>Tags: </p>
  {% block scoped %}
  <h2>
  {% for tag in tags %}
      <a href="{{ tag }}_tag">{{ tag }} </a>
  {% endfor %}
  </h2>
  {% endblock %}
</div>




{% endblock %}


{% block head %}
{{super()}}
{% endblock %}