{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}


{% block content %}
<ul class="nav nav-list">
 <li class="active"><a href="/"><i class="icon-home icon-white"></i> Главная</a></li>
 <li><a href="#"><i class="icon-book"></i> График</a></li>
</ul>
<div class="container">
  <h1> Your current tasks </h1>
  <ul>
    {% for (task, value) in tasks %}
    {% if task.complete == "yes" %} 
    	<span style="color: red;">
        	<li>{{ task.task }} </li>
        </span>
    {% else %}
    	<span style="color: blue;">
    		<li> {{ task.task }}</li>
            <p> Description: {{ task.description }} </p>
            <p> Deadline : {{ task.deadline }} </p>
    		<p> Prediction score: {{ value }} </p>
    	</span>
    {% endif %}

    {% endfor %}

    <h3> Tasks from trash </h3>
    {% for (task, value) in trash %}
        <span style="color: black;">
            <li> {{ task.task }}</li>
        </span>
    {% endfor %}
    </ul>

</div>

{% endblock %}

{% block head %}
{{super()}}
{% endblock %}
