{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}


{% block content %}


<style type="text/css">
    p {
         font-size: 16px;
    }
   .current, .attached {
    background-color: #99FFFF;
    font-size: 16px;
    color:black;
   }

   .current a:link {
    
   }

  .black_overlay{
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: relative;
        width: 20%;
        height: 5%;
        padding: 16px;
        border: 2px solid orange;
        background-color: white;
        z-index:1002;
    }
</style>

<ol class="breadcrumb">
  <li class="active"><a href="/"><i class="icon-home icon-white"></i> Главная</a></li>
 <li><a href="#"> График</a></li>
 <li><a href="/planning"> Планирование задач</a></li>
</ol>

<h1>Smart TODO monitor</h1>

<strong> Текущие задачи </strong>
<div class="current">
    {% for task in tasks %}
        <a href=task_{{ task.id }} onmousemove="document.getElementById('light').style.display='block'"
        onmouseout="document.getElementById('light').style.display='none'" 
        > {{ task.task}}</a> 
        <div id="light" class="white_content">До окончания задачи осталось: {{task.deadline}}</div>
        <br>
    {% endfor %}
</div>
<br>
<strong> Задачи на неделю</strong><br>

<strong>Закреплённые задачи </strong>
<div class="attached">
    {% for task in attasks %}
        <p> {{ task.task}}</p>
    {% endfor %}
</div>
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

