{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
	Оптимальное планирование задач

{% endblock %}


{% block content %}
<h1> Введите список задач </h1>
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="form-group">
	<strong> Название задачи </strong>
	<form action="" method="post" name="plantask">
	{{ form.tf }} <br><br>
	{{ form.ttype }} <br><br>
	{{ form.deadline }}<br><br>
	<input type="submit" name='add' value="Добавить задачу" class="btn btn-large btn-primary"></input>
	<input type="submit" name='compute' value="Рассчитать" class="btn btn-large btn-primary">
	</input>
	<input type="submit" name='clearall' value="Очистить" class="btn btn-large btn-primary">
	</input>
	</form>
	</div>
	</div>
	<div class="pull-right">
		{% for task in plantasks %}
		 <p> {{task[0]}} - {{task[1]}} </p>
		{% endfor %}
	</div>
	</div>

	<div class="container-fluid">
	{% for t in entasks %}
	<p> {{ t.tf }} </p>
	{% endfor %}
	</div>
{% endblock %}