{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

<ol class="breadcrumb">
  <li class="active"><a href="/"><i class="icon-home icon-white"></i> Главная</a></li>
 <li><a href="#"> График</a></li>
 <li><a href="/planning"> Планирование задач</a></li>
</ol>

<form action="" method="post">
<legend> Настройки и информация о задаче: {{ task.task }} </legend>

<p> Время начала задачи: {{ task.starttime }} </p> <input type="submit" name='Changestart' value="Изменить" class="btn btn-large btn-primary">
<p> Время завершения задачи: {{ task.deadline }} </p> <input type="submit" name='Changedeadline' value="Изменить" class="btn btn-large btn-primary"> <br><br>

<p> Описание задачи: </p> 
<strong> {{ task.description }}</strong> <br><br>

<p> Добавлять в планировщик данную задачу каждые <input type="text" name='dayarea' size=5> дней/дня </p>
<input type="submit" name='Every_strt' value="Добавить" class="btn btn-large btn-primary">
<p> Добавить комментарий </p>
{{ forminfo.comment(rows=5, cols=50) }}
<br><br>
<input type="submit" name='Comment' value="Добавить комментарий" class="btn btn-large btn-primary">
</form>
{% for comment in task.comments %}
 <strong>{{ comment.author }} - {{ comment.date }}</strong>
 <p> {{ comment.comment }} </p>
{% endfor %}
{% endblock %}